
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Nieuwe gebruiker aanmaken", "CreateUser", "Admin")</li>
    <li>@Html.ActionLink("Rol toekennen", "AssignRole", "Admin")</li>
    <li>@Html.ActionLink("Rollen", "Index", "Role")</li>
</ul>